# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.The Mansion - Text Adventure.iml
# Datasource local storage ignored files
/../../../../../../../:\Code\Unity\The Mansion - Text Adventure\.idea\.idea.The Mansion - Text Adventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
